body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0px;
}

:root {
  --text-color: #757575;
  --accent-color-text: #2196F3;
  --background-footer: #2F303A;
  --background-header: #FFFFFF;
  --margin: 60px;
  --function-time: cubic-bezier(0.4, 0, 0.2, 1)
}
  *,
  *::before,
  *::after {
    box-sizing: border-box;}
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  
  .container {
  padding-left: 15px;
  padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .foto {
    display: block;
    max-width: 100%;
    height: auto;
  }
/* ---------header-------- */
.header {
   background: var(--background-header);
  border-bottom: 1px solid #ECECEC;
}
.header-logo {
   font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;

}
.header-logo > span {
  color: #2196F3;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  transition: color 250ms var(--function-time);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color-text);
}
.current {
  color: var(--accent-color-text);
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1%;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  opacity: 0;
  transition: opacity 250ms var(--function-time);
}

.current::after {
  opacity: 1;
}

.header-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-flex;
  align-items: center;
  transition: color 250ms var(--function-time);
}
.header-info:hover,
.header-info:focus {
  color: var(--accent-color-text)
}

.header > .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item {
  margin-left: 50px;
}
.header-item:first-child {
  margin-left: 0px;
}

.header-cont {
  display: flex;
  margin-left: auto;
  padding-left: 0px;
}

.header-contact:first-child {
  margin-right: 50px;
}
 .header-tell {
  fill: currentColor;
  margin-right: 10px;
 }


/* ...-----footer-----..... */
.footer {
  background-color: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 20px;
    display: block;
}
.footer-logo>span {
  color: #2196F3;
}

.footer-address {
  font-style: normal;
}
.footer-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
margin-bottom: 9px;
}

.footer-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--function-time);
  
}
.footer-info:hover,
.footer-info:focus {
  color: var(--accent-color-text);
}
.footer-contact:first-child {
  margin-bottom: 9px;
}

.icon-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer-icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--function-time);
}
.footer-icon-item+.footer-icon-item {
  margin-left: 10px;
}
.footer-list-icon {
  display: flex;
}
.footer-icon {
  fill: currentColor;
}
.footer-icon-link:hover,
.footer-icon-link:focus {
background-color: var(--accent-color-text);
}
.footer-icon-div {
  margin-left: 70px;
}
.footer-div {
  display: flex;
  align-items: baseline;
}

.footer-online {
  margin-left: 93px;
}
.footer-input-text {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
 color: #FFFFFF;
 margin-bottom: 20px;
}
.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: #ffffff;
}
.footer-input::placeholder {
font-weight: 400;
font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.btn-footer {
  font-family: inherit;  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
  transition: background 250ms var(--function-time);
  cursor: pointer;
}
.btn-footer:hover,
.btn-footer:focus {
  background: #188CE8;}

.footer-icon-send {
  margin-left: 10px;
}
.footer-online-div {
  display: flex;
}



/* .....------section-hero--------...... */
.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image:linear-gradient(to right,
   rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url('../images/Fon.jpg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero {
  text-align: center;
  background-color:#2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  display: inline-block;
  margin-top: 30px;
  transition: background 250ms var(--function-time);
}
.button:hover,
.button:focus {
  background: #188CE8;
}

/* ........---------about--------........ */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.about-list {
  display: flex;
      justify-content: center;
  
}
.about-item:nth-child(n + 2) {
  margin-left: 30px;
  
}
.about-item {
  width: 270px;
}

.about-icon {
  width: 270px;
  height: 120px;
  display: flex;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

/* .......------section-foto-------..... */
.foto-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px; 
}
.foto-list {
  display: flex;
      justify-content: center;
}
.foto-item:nth-child(n + 2) {
  margin-left: 30px;
}

.section-about {
  padding-bottom: 0px;
}

.back-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-top: 27px;
}

.foto-item-text {
  background: rgba(47, 48, 58, 0.8);
  
  min-height: 70px;
  width: 100%;

  position: absolute;
  left: 0;
  bottom: 0;
  padding: auto;

}

.foto-item-div {
  position: relative;
}

/* .......-------section-team--------...... */
.section-team {
  background: #F5F4FA;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;

}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list {
  display: flex;
      justify-content: center;
}
.team-item:nth-child(n + 2) {
  margin-left: 30px;}

  .team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .team-icon-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    transition: color 250ms var(--function-time), background-color 250ms var(--function-time) ;
  }
  .team-icon-link:hover,
  .team-icon-link:focus {
    color: #FFFFFF;
    background-color: var(--accent-color-text);
  }

  .team-icon-item+.team-icon-item {
    margin-left: 10px;
  }
  .team-icon-list {
    display: flex;
    justify-content: center;
  }

  .team-icon {
    fill: currentColor;
  }


  /* .............--------------client------------.......... */
.client-title {
    font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  }
  .client-list {
    display: flex;
  }
  .client-item+.client-item {
    margin-left: 30px;
  }
  .client-link {
    padding: 16px 32px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    transition: color 250ms var(--function-time),
    border-color 250ms var(--function-time);
  }
  .client-icon-svg {
  fill: currentColor;
  }
  .client-link:hover,
  .client-link:focus {
    color: var(--accent-color-text);
    border-color: #2196F3;
  }
/* ........-------------portfolio----------.......... */


.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:nth-child(n + 2) {
  margin-left: 8px;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  display: inline-block;
  transition: color 250ms var(--function-time),
  background-color 250ms var(--function-time),
  box-shadow 250ms var(--function-time);
}
.btn:hover,
.btn:focus {
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
}


.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;  
  margin-bottom: 4px;
}

.work-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item { 
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - var(--margin)) / 3);
}
.work-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.work-item:nth-child(-n + 3) {
  margin-top: 0px;
}
.work-item:nth-child(3n + 1) {
  margin-left: 0px;
}
.work-name {
 padding: 20px 24px;
background: #FFFFFF;
border-bottom: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
}
.work-link {
  display: block;
  color: #212121;
  transition: box-shadow 250ms var(--function-time);
}

.work-link:hover,
.work-link:focus {

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-cover-text {
  position: relative;
  overflow: hidden;
}

.cover-text {
  font-size: 18px;
  line-height: 1.56;
 letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--function-time);
}

.work-item:hover .cover-text {
  transform: translateX(0);
}
.work-link:focus .cover-text {
  transform: translateX(0);
}

/* ///////--------modal----------////////// */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--function-time), visibility 250ms var(--function-time);
}
.backdrop.is-hidden .modal {
  transform: scale(0);
}

.modal {
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%) ;
  transition: transform 250ms var(--function-time);
 }

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.modal-icon {
  align-items: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  }

  .form-field {
    margin-bottom: 10px;
  }

  .modal-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;    
    color: #212121;
    margin-bottom: 12px;
  }

  .input-text {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;    
    letter-spacing: 0.01em;    
    color: #757575;
  }

  .modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid ;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    cursor: pointer;
    border-color: rgba(33, 33, 33, 0.2);
    transition: border-color 250ms var(--function-time);
  }

  .modal-input:focus {
    border-color: #2196F3;
  }

  .modal-input:focus + .input-icon {
    fill: var(--accent-color-text);
  }

  .input-wrap {
    position: relative;
  }
  .input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: inherit;
    transition: fill 250ms var(--function-time);
  }

  .modal-textarea {
    padding: 12px 16px;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    border: 1px solid;
    border-color: rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize:none;
    outline: none;
    cursor: pointer;
    transition: border-color 250ms var(--function-time);
  }

  .modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;   
    color: rgba(117, 117, 117, 0.5);
  }

  .modal-textarea:focus {
    border-color: #2196F3;
  }

.checkbox-text {
  font-size: 14px;
  line-height: 1.71;  
  letter-spacing: 0.03em;  
  color: #757575;
  display: flex;
  align-items: center;
}

.checkbox-icon-accept {
 width: 16px;
 height: 15px;
background-color:inherit;
 border: 2px solid #212121;
 border-radius: 2px;
 margin-right: 7px;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: border 250ms var(--function-time),
 background-color 250ms var(--function-time);
}

.modal-checkbox:checked + .checkbox-text span {
 background-color: #2196F3;
 border: none; 
}

.confirm-accent {
  font-size: 14px;
  line-height: 1.71;  
  letter-spacing: 0.03em;
  text-decoration: underline;  
  color: #2196F3;
  cursor: pointer;
}

.form-field-checkbox {
  margin-left: 12px;
  margin-bottom: 30px;
}

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88; 
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;  
  color: #FFFFFF;
  background: #2196F3;
  border-radius: 4px;
  padding: 10px 55px 10px 56px;
  cursor: pointer;
  transition: background 250ms var(--function-time), box-shadow 250ms var(--function-time);
  margin-left: auto;
  margin-right: auto;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
