body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0px;
}

:root {
  --text-color: #757575;
  --accent-color-text: #2196F3;
  --background-footer: #2F303A;
  --background-header: #FFFFFF;
}
  *,
  *::before,
  *::after {
    box-sizing: border-box;}
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid tomato;
  }
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .foto {
    display: block;
  }
/* ---------header-------- */
.header {
   background: var(--background-header);
}
.header-logo {
   font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;

}
.header-logo > span {
  color: #2196F3;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color-text);
}
.current {
  color: var(--accent-color-text);
}

.header-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-info:hover,
.header-info:focus {
  color: var(--accent-color-text)
}

.header > .container {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item {
  margin-left: 50px;
}
.header-item:first-child {
  margin-left: 0px;
}

.header-cont {
  display: flex;
  margin-left: auto;
  padding-left: 0px;
}

.header-contact:first-child {
  margin-right: 50px;
}




/* ...-----footer-----..... */
.footer {
  background-color: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 20px;
    display: block;
}
.footer-logo>span {
  color: #2196F3;
}

.footer-address {
  font-style: normal;
}
.footer-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-info:hover,
.footer-info:focus {
  color: var(--accent-color-text);
}
.footer-contact:first-child {
  margin-top: 9px;
  margin-bottom: 9px;
}
/* .foter-contact{
  display: block;
}
 */

/* .....------section-hero--------...... */
.section-hero {
  text-align: center;
  background-color:#2F303A;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  display: inline-block;
  margin-top: 30px;
}
.button:hover,
.button:focus {
  background: #188CE8;
}

/* ........---------about--------........ */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.about-list {
  display: flex;
  
}
.about-item:nth-child(n + 2) {
  margin-left: 30px;
  
}
.about-item {
  width: 270px;
}

/* .......------section-foto-------..... */
.foto-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px; 
}
.foto-list {
  display: flex;
}
.foto-item:nth-child(n + 2) {
  margin-left: 30px;
}


/* .......-------section-team--------...... */
.section-team {
  background: #F5F4FA;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;

}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-list {
  display: flex;
}
.team-item:nth-child(n + 2) {
  margin-left: 30px;}

  .team-item {
    height: 368px;
    background: #FFFFFF;
    /* material shadow v1 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

/* ........-------------portfolio----------.......... */
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  display: inline-block;
}
.btn:hover,
.btn:focus {
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
