header {
    background: $background-header;
    border-bottom: 1px solid #ECECEC;
}

.header__logo {
    font-family: $font-family-second;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 88px;
.link__logo {
        color: #2196F3;
    }
}

.header-wrap {
    display: flex;
    align-items: center;
}


.header-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    position: relative;
    transition: color 250ms $function-time;
    &:hover,
        &:focus {
            color: $accent-color-text;
        }
}
.current {
    color: $accent-color-text;
}

.header-list__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1%;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
    opacity: 0;
    transition: opacity 250ms $function-time;
}

.current::after {
    opacity: 1;
}

.contact__info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    display: inline-flex;
    align-items: center;
    transition: color 250ms $function-time;
    &:hover,
        &:focus {
            color: $accent-color-text
        }
    }


.header>.container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-list__item {
    margin-left: 50px;
}

.header-list__item:first-child {
    margin-left: 0px;
}

.contact {
   display: block;
   margin-left: 84px;
}

.contact__item:first-child {
    margin-bottom: 10px;
}

.contact__tell {
    fill: currentColor;
    margin-right: 10px;
}

@include desktop {
.header__logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
}
.contact {
    display: flex;
    flex-wrap: nowrap;
}
.contact__info {
    padding-top: 32px;
    padding-bottom: 32px;
}
.contact__item:first-child {
    margin-right: 30px;
}
.contact__info {
    font-size: 14px;
    line-height: 1.14;
}
.contact__item:first-child {
    margin-bottom: 0px;
}
.header-wrap {
    align-items: baseline;
    justify-content: space-between;
    flex-basis: 100%;
}
}