.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: $background-header;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 999;
    transition: transform 250ms $function-time;
    transform: translateX(100%);
}
.menu__close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
    margin-left: auto;
    padding: 0px;
}
.menu__wrap {
    display: flex;
    flex-direction: column;        
    justify-content: space-between;
    height: 100%;
    overflow: auto;
}
.menu__icon {
    fill: currentColor;
    transition: fill 250ms $function-time;
    .menu__close:hover & {
        fill: $accent-color-text;
    }

    .menu__close:focus & {
        fill: $accent-color-text;
    }
}
.menu.is-open {
    transform: translateX(0);
}
.menu__link-page {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color 250ms $function-time;
    &:hover,
    &:focus{
        color: $accent-color-text;
    }
}
.menu__item-page {
    margin-bottom: 32px;
    &:last-child {
        margin-bottom: 0px;
    }
}
.menu__list-adress{
    margin-bottom: 64px;
}
.menu__item-adress:first-child .menu__link-adress {
    font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;    
        color: #2196F3;
}
.menu__item-adress:first-child {
    margin-bottom: 32px;
}
.menu__item-adress:last-child .menu__link-adress {
    font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;    
        color: #757575;
        transition: color 250ms $function-time;
        &:hover,
        &:focus {
            color: $accent-color-text;
        }
}
.menu__list-soc {
    display: flex;
}
.menu__link-soc {
    font-weight: 500;
        font-size: 18px;
        line-height: 1.22;           
        letter-spacing: 0.02em;    
        color: #2196F3;
}
@media screen and (max-width: 450px) {
    .menu__link-soc {
    font-size: 14px;
    line-height: 1.19;
    }
    .menu__list-soc {
        display: flex;
        flex-wrap: wrap;
    }
}
.menu__item-soc:not(:last-child)::after {
    content: "";
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
        margin-right: 10px;
        margin-left: 10px;
}
@media screen and (max-width: 450px) {
    .menu__item-soc:not(:last-child)::after {
            margin-right: 3px;
            margin-left: 3px;
        }
}