.team {
    background: #F5F4FA;
}

.team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;

}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color;
    margin-bottom: 16px;
}

.team__text {
    padding: 30px;
}



.team__item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0px;
    }
}

.team__icon-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    transition: color 250ms $function-time, background-color 250ms $function-time;
    &:hover,
        &:focus {
            color: #FFFFFF;
            background-color: $accent-color-text;
        }
}



.team__icon-item+.team__icon-item {
    margin-left: 10px;
}

.team__icon-list {
    display: flex;
    justify-content: center;
}

.team__icon {
    fill: currentColor;
}
@include tablet {
    .team__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .team__item {
        margin-left: 30px;
        margin-bottom: 0;
    }

    .team__item:nth-child(2n + 1) {
        margin-left: 0;
    }

    .team__item:nth-child(-n + 2) {
        margin-bottom: 30px;
    }
}
@include desktop {
    .team__list {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
        }
    
        .team__item:nth-child(n + 2) {
            margin-left: 30px;
        }
        .team__item:nth-child(-n + 2) {
                    margin-bottom: 0;
                }
         .team__title {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 1.17;
                    margin-bottom: 50px;        
                }
        .team__item {
            margin-bottom: 0px;
        }
}
