$text-color: #757575;
$accent-color-text: #2196F3;
$background-footer: #2F303A;
$background-header: #FFFFFF;
$margin: 60px;
$function-time: cubic-bezier(0.4, 0, 0.2, 1);
$font-family-body: Roboto, sans-serif;
$font-family-second: Raleway, sans-serif;